<launch>
    <arg name="agent_id" default = "0"/>
    
    <node name="gps_pose_graph_initializer_node_$(arg agent_id)" pkg="multi_robot_simulation" type="gps_initializer_node" output="screen" args="$(arg agent_id)">
        <param name="n_sec_wait"      value="2.0"/>
        <param name="delta_d"         value="1.0"/>
        <param name="v_max"           value="2.5"/>
        <param name="a_max"           value="1.0"/>
        <param name="v_max_yaw"       value="1.0"/>
        <param name="a_max_yaw"       value="1.0"/>
        <param name="sampling_dt"     value="0.10"/>
        
        <remap from="odometry_$(arg agent_id)" to="/firefly_$(arg agent_id)/odometry"/>
        <remap from="command/trajectory"       to="/firefly_$(arg agent_id)/command/trajectory"/>
    </node>    

</launch>
