# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
*.user

# Latex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.synctex.gz
*.toc
Makefile
*.csv

# CLion
*.idea/
*cmake-build-debug/
*dump/

*CATKIN_IGNORE
